################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Leaening/v16
/C++/Debug
/.vs/Learning/v16/Browse.VC.db
/.vs/Learning/v16/Browse.VC.opendb
